@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Catalogue</h1>
    <p class="lead">Movie Catalogue is a online catalogue where user can create and see their movies details</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LogIn</h2>
        <p>
            If you already sign up then go to login page with login link on top right corner of the page and Create, Edit and Delete your movie details. 
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>If you do not have account then go to register page with Register link on top right corner and enter your details and create your account for FREE.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>