@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Catalogue</h1>
    <br />
    <p class="lead">Movie Catalogue is a online catalogue where user can create and see their movies details</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LogIn Admin</h2>
        <p>
            <br /> UseName: admin@admin.com <br /> Password: Admin_123
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>LogIn User</h2>
        <p>
        <br /> UserName: riyazkugashiya@gmail.com <br /> Password: Riyaz_786
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>